[submodule "loader-ios"]
	path = loader-ios
	url = https://github.com/unbound-app/loader-ios
[submodule "builds"]
	path = builds
	url = https://github.com/unbound-app/builds
[submodule "react-native"]
	path = react-native
	url = https://github.com/facebook/react-native
